<h1><%= @diretorio.present? ? @diretorio.nome : "HOME" %></h1>

<%= form_for @novo_diretorio, html: {class: "form-inline"} do |f| %>

    <% if @diretorio.present? %>
        <%= f.hidden_field :diretorio_pai_id, value: @diretorio.id %>
    <% end %>

    <div class="form-group mb-2 mr-2">
        <%= f.label "Novo diretório", class: "sr-only" %>
        <%= f.text_field :nome, class: "form-control", placeholder: "Novo diretório" %>
    </div>

    <%= f.submit 'Salvar', class: "btn btn-primary mb-2" %>
    <% if @diretorio.present? %>
        <%= link_to 'Voltar', diretorios_path(diretorio: @diretorio.diretorio_pai_id), class: "btn btn-default" %>
    <% end %>
<% end %>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color: red"><%= error %></p>
    <% end %>
<% end %>

<hr>

<% if @diretorio.present? %>
    <%= form_for @diretorio, url: diretorio_arquivos_path(@diretorio), method: :post, html: {class: "form-inline mb-2"} do |f| %>
        <div class="form-group">
            <%= f.file_field :arquivos, multiple: true, disable: true, class: "form-control-file", onchange: "this.form.submit();" %>
        </div>
    <% end %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="document-icon"></th>
                    <th>Nome</th>
                    <th class="acoes">Ações</th>
                <tr>
            </thead>
            <tbody id="conteudo-tabela">
                <%= render partial: "conteudo_tabela", collection: @documentos, as: :documento %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=3><%= link_to 'VER MAIS', diretorios_path(diretorio: @diretorio, pagina: @pagina + 1), class: "btn btn-primary btn-block btn-ver-mais", remote: true %></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
